@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('fonts/lato-v15-latin-regular.woff2') format('woff2'),
       url('fonts/lato-v15-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
       url('fonts/lato-v15-latin-700.woff2') format('woff2'),
       url('fonts/lato-v15-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'),
       url('fonts/lato-v15-latin-900.woff2') format('woff2'),
       url('fonts/lato-v15-latin-900.woff') format('woff');
}

:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: #003e6b;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  text-align: center;
}

img {
  max-width: 100%;
}

nav {
  background: #003e6b;
  border-top: 5px solid #f7c948;
  padding: 1em;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

nav li {
  padding: 0 0.5em;
}

nav a {
  color: #fadb5f;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover,
nav a:focus {
  border-bottom: 2px solid;
}

section h2 {
  font-size: 2.25rem;
  margin-bottom: 0.5em;
}

#welcome-section {
  background: radial-gradient(#fffbea, #fff3c4);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin-top: -4em;
}

#welcome-section h1 {
  font-size: 3.5rem;
  margin-bottom: 0.25em;
  text-shadow: 2px 2px #f7c948;
}

#welcome-section h2 {
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 0.1em;
}

#welcome-section p {
  font-size: 1.25rem;
}

#welcome-section h1,
#welcome-section span {
  font-weight: 900;
  letter-spacing: 0.01em;
}

#projects {
  background: #f0f4f8;
  padding: 3.5em 1em;
}

.project-tile {
  background: #fffbea;
  border: 2px solid #f7c948;
  margin: auto;
  margin-bottom: 2em;
  max-width: 25em;
  padding: 0.5em;
}

.project-tile h3 {
  border-top: 1px dotted #f7c948;
  font-size: 1.5rem;
  margin-top: 0.25em;
  padding-top: 0.25em;
}

.project-tile a {
  background: #f7c948;
  color: #003e6b;
  display: block;
  margin-top: 0.5em;
  padding: 0.5em 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.project-tile a:hover,
.project-tile a:focus {
  text-decoration: underline;
}

#contact {
  background: #fffbea;
  padding: 3.5em 1em 2em;
}

#contact ul {
  list-style-type: none;
}

#contact li {
  margin-bottom: 0.5em;
}

#contact a {
  color: #003e6b;
  font-size: 1.25rem;
  text-decoration: none;
}

#contact a:hover,
#contact a:focus {
  border-bottom: 1px solid;
}

#contact i {
  padding-right: 0.2em;
}

footer {
  background: #003e6b;
  color: #fadb5f;
  padding: 1em;
}

footer a {
  color: #fadb5f;
}

footer a:hover,
footer a:focus {
  color: #f7c948;
}

@media only screen and (min-width: 28em) {
  nav li {
    padding: 0 1.5em;
  }
}

@media only screen and (min-width: 55em) {
  .projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 60em;
  }

  .project-tile {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 1em;
  }

  .project-tile figcaption {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
  }

  .project-tile h3 {
    width: 100%;
  }

  .project-tile a {
    align-self: flex-end;
    width: 100%;
  }
}
